In [55]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [268]:
from aitrading.ml_logic.ModelTrainer import ModelTrainer
from aitrading.ml_logic.data import get_data_from_local

In [269]:
df1 = get_data_from_local('eurousd_df_clean.csv')

In [270]:
included_columns = ['close']  # Columns to include in the windowed data
first_date_str = '2022-01-02'
last_date_str = '2023-01-03'
n = 3

In [271]:
trainer = ModelTrainer(df1)

In [272]:
trainer.prepare_data('2023-01-03', '2023-01-05', ['close'], "close", 3)

["2023-01-03", "2023-01-05", ["close"]]
not using cached data
Creating windowed dataframe from 2023-01-03 to 2023-01-05

In [273]:
trainer.X_train

                     close_T-3  close_T-2  close_T-1  close_Target
Target Date
2023-01-03 00:00:00    1.10215    1.10203    1.10202       1.05927
2023-01-03 00:05:00    1.10203    1.10202    1.05927       1.05929
2023-01-03 00:10:00    1.10202    1.05927    1.05929       1.05966
2023-01-03 00:15:00    1.05927    1.05929    1.05966       1.05967
2023-01-03 00:20:00    1.05929    1.05966    1.05967       1.05995
...                        ...        ...        ...           ...
2023-01-04 14:00:00    1.06413    1.06388    1.06388       1.06410
2023-01-04 14:05:00    1.06413    1.06388    1.06388       1.06410
2023-01-04 14:10:00    1.06413    1.06388    1.06388       1.06410
2023-01-04 14:15:00    1.06413    1.06388    1.06388       1.06410
2023-01-04 14:20:00    1.06413    1.06388    1.06388       1.06410

[461 rows x 4 columns]

In [274]:
trainer.y_train.head(50)

Target Date
2023-01-03 00:00:00    0
2023-01-03 00:05:00    1
2023-01-03 00:10:00    1
2023-01-03 00:15:00    1
2023-01-03 00:20:00    1
2023-01-03 00:25:00    1
2023-01-03 00:30:00    1
2023-01-03 00:35:00    0
2023-01-03 00:40:00    1
2023-01-03 00:45:00    1
2023-01-03 00:50:00    0
2023-01-03 00:55:00    0
2023-01-03 01:00:00    0
2023-01-03 01:05:00    1
2023-01-03 01:10:00    1
2023-01-03 01:15:00    1
2023-01-03 01:20:00    1
2023-01-03 01:25:00    1
2023-01-03 01:30:00    0
2023-01-03 01:35:00    1
2023-01-03 01:40:00    1
2023-01-03 01:45:00    1
2023-01-03 01:50:00    1
2023-01-03 01:55:00    1
2023-01-03 02:00:00    0
2023-01-03 02:05:00    1
2023-01-03 02:10:00    1
2023-01-03 02:15:00    0
2023-01-03 02:20:00    1
2023-01-03 02:25:00    1
2023-01-03 02:30:00    1
2023-01-03 02:35:00    0
2023-01-03 02:40:00    0
2023-01-03 02:45:00    1
2023-01-03 02:50:00    1
2023-01-03 02:55:00    1
2023-01-03 03:00:00    1
2023-01-03 03:05:00    0
2023-01-03 03:10:00    0
2023-01-03 03:15:00    0
2023-01-03 03:20:00    1
2023-01-03 03:25:00    1
2023-01-03 03:30:00    1
2023-01-03 03:35:00    1
2023-01-03 03:40:00    0
2023-01-03 03:45:00    0
2023-01-03 03:50:00    1
2023-01-03 03:55:00    0
2023-01-03 04:00:00    1
2023-01-03 04:05:00    0
Name: dir, dtype: int64

In [275]:
trainer.X_test.head()

                     close_T-3  close_T-2  close_T-1  close_Target
Target Date
2023-01-04 19:10:00    1.06413    1.06388    1.06388        1.0641
2023-01-04 19:15:00    1.06413    1.06388    1.06388        1.0641
2023-01-04 19:20:00    1.06413    1.06388    1.06388        1.0641
2023-01-04 19:25:00    1.06413    1.06388    1.06388        1.0641
2023-01-04 19:30:00    1.06413    1.06388    1.06388        1.0641

In [276]:
trainer.y_test.head()

Target Date
2023-01-04 19:10:00    0
2023-01-04 19:15:00    0
2023-01-04 19:20:00    0
2023-01-04 19:25:00    0
2023-01-04 19:30:00    0
Name: dir, dtype: int64

In [277]:
trainer.X_val.head()

                     close_T-3  close_T-2  close_T-1  close_Target
Target Date
2023-01-04 14:25:00    1.06413    1.06388    1.06388        1.0641
2023-01-04 14:30:00    1.06413    1.06388    1.06388        1.0641
2023-01-04 14:35:00    1.06413    1.06388    1.06388        1.0641
2023-01-04 14:40:00    1.06413    1.06388    1.06388        1.0641
2023-01-04 14:45:00    1.06413    1.06388    1.06388        1.0641

In [278]:
trainer.y_val.head()

Target Date
2023-01-04 14:25:00    0
2023-01-04 14:30:00    0
2023-01-04 14:35:00    0
2023-01-04 14:40:00    0
2023-01-04 14:45:00    0
Name: dir, dtype: int64