In [7]:
%load_ext autoreload
%autoreload 2

In [8]:
from aitrading.ml_logic.ModelTrainer import ModelTrainer
from aitrading.ml_logic.data import get_data_from_local

In [9]:
df1 = get_data_from_local('eurousd_df_clean.csv')

In [10]:
included_columns = ['close']  # Columns to include in the windowed data
first_date_str = '2022-01-02'
last_date_str = '2023-01-03'
n = 3

In [11]:
trainer = ModelTrainer(df1)

In [12]:
trainer.prepare_data('2023-01-01', '2023-11-05', ['close'], "close", 3)

/Users/kassraniroumand/code/aitrading/aitrading/data/["2023-01-01", "2023-11-05", ["close"]].pkl
["2023-01-01", "2023-11-05", ["close"]]
not using cached data
Creating windowed dataframe from 2023-01-01 to 2023-11-05

In [13]:
trainer.X_train.tail(5)

                     close_T-3  close_T-2  close_T-1  close_Target
Target Date
2023-09-04 09:15:00    1.05871    1.05871    1.05873       1.05868
2023-09-04 09:20:00    1.05871    1.05871    1.05873       1.05868
2023-09-04 09:25:00    1.05871    1.05871    1.05873       1.05868
2023-09-04 09:30:00    1.05871    1.05871    1.05873       1.05868
2023-09-04 09:35:00    1.05871    1.05871    1.05873       1.05868

In [8]:
trainer.X_val.head(5)

                     close_T-3  close_T-2  close_T-1  close_Target
Target Date
2023-09-04 09:40:00    1.05871    1.05871    1.05873       1.05868
2023-09-04 09:45:00    1.05871    1.05871    1.05873       1.05868
2023-09-04 09:50:00    1.05871    1.05871    1.05873       1.05868
2023-09-04 09:55:00    1.05871    1.05871    1.05873       1.05868
2023-09-04 10:00:00    1.05871    1.05871    1.05873       1.05868

In [9]:
trainer.X_val.tail(5)

                     close_T-3  close_T-2  close_T-1  close_Target
Target Date
2023-10-05 04:25:00    1.09491    1.09504    1.09534       1.09549
2023-10-05 04:30:00    1.09504    1.09534    1.09549       1.09553
2023-10-05 04:35:00    1.09534    1.09549    1.09553       1.09550
2023-10-05 04:40:00    1.09549    1.09553    1.09550       1.09548
2023-10-05 04:45:00    1.09553    1.09550    1.09548       1.09582

In [10]:
trainer.X_test.head(5)

                     close_T-3  close_T-2  close_T-1  close_Target
Target Date
2023-10-05 04:50:00    1.09550    1.09548    1.09582       1.09564
2023-10-05 04:55:00    1.09548    1.09582    1.09564       1.09569
2023-10-05 05:00:00    1.09582    1.09564    1.09569       1.09560
2023-10-05 05:05:00    1.09564    1.09569    1.09560       1.09594
2023-10-05 05:10:00    1.09569    1.09560    1.09594       1.09584

In [11]:
trainer.X_test.head(50)

                     close_T-3  close_T-2  close_T-1  close_Target
Target Date
2023-10-05 04:50:00    1.09550    1.09548    1.09582       1.09564
2023-10-05 04:55:00    1.09548    1.09582    1.09564       1.09569
2023-10-05 05:00:00    1.09582    1.09564    1.09569       1.09560
2023-10-05 05:05:00    1.09564    1.09569    1.09560       1.09594
2023-10-05 05:10:00    1.09569    1.09560    1.09594       1.09584
2023-10-05 05:15:00    1.09560    1.09594    1.09584       1.09579
2023-10-05 05:20:00    1.09594    1.09584    1.09579       1.09573
2023-10-05 05:25:00    1.09584    1.09579    1.09573       1.09555
2023-10-05 05:30:00    1.09579    1.09573    1.09555       1.09518
2023-10-05 05:35:00    1.09573    1.09555    1.09518       1.09538
2023-10-05 05:40:00    1.09555    1.09518    1.09538       1.09544
2023-10-05 05:45:00    1.09518    1.09538    1.09544       1.09554
2023-10-05 05:50:00    1.09538    1.09544    1.09554       1.09532
2023-10-05 05:55:00    1.09544    1.09554    1.09532       1.09547
2023-10-05 06:00:00    1.09554    1.09532    1.09547       1.09510
2023-10-05 06:05:00    1.09532    1.09547    1.09510       1.09470
2023-10-05 06:10:00    1.09547    1.09510    1.09470       1.09474
2023-10-05 06:15:00    1.09510    1.09470    1.09474       1.09479
2023-10-05 06:20:00    1.09470    1.09474    1.09479       1.09493
2023-10-05 06:25:00    1.09474    1.09479    1.09493       1.09493
2023-10-05 06:30:00    1.09479    1.09493    1.09493       1.09487
2023-10-05 06:35:00    1.09493    1.09493    1.09487       1.09495
2023-10-05 06:40:00    1.09493    1.09487    1.09495       1.09514
2023-10-05 06:45:00    1.09487    1.09495    1.09514       1.09517
2023-10-05 06:50:00    1.09495    1.09514    1.09517       1.09498
2023-10-05 06:55:00    1.09514    1.09517    1.09498       1.09488
2023-10-05 07:00:00    1.09517    1.09498    1.09488       1.09494
2023-10-05 07:05:00    1.09498    1.09488    1.09494       1.09496
2023-10-05 07:10:00    1.09488    1.09494    1.09496       1.09499
2023-10-05 07:15:00    1.09494    1.09496    1.09499       1.09463
2023-10-05 07:20:00    1.09496    1.09499    1.09463       1.09445
2023-10-05 07:25:00    1.09499    1.09463    1.09445       1.09451
2023-10-05 07:30:00    1.09463    1.09445    1.09451       1.09766
2023-10-05 07:35:00    1.09445    1.09451    1.09766       1.09851
2023-10-05 07:40:00    1.09451    1.09766    1.09851       1.09940
2023-10-05 07:45:00    1.09766    1.09851    1.09940       1.09948
2023-10-05 07:50:00    1.09851    1.09940    1.09948       1.09992
2023-10-05 07:55:00    1.09940    1.09948    1.09992       1.10008
2023-10-05 08:00:00    1.09948    1.09992    1.10008       1.10004
2023-10-05 08:05:00    1.09992    1.10008    1.10004       1.09904
2023-10-05 08:10:00    1.10008    1.10004    1.09904       1.09983
2023-10-05 08:15:00    1.10004    1.09904    1.09983       1.09922
2023-10-05 08:20:00    1.09904    1.09983    1.09922       1.09841
2023-10-05 08:25:00    1.09983    1.09922    1.09841       1.09841
2023-10-05 08:30:00    1.09922    1.09841    1.09841       1.09826
2023-10-05 08:35:00    1.09841    1.09841    1.09826       1.09827
2023-10-05 08:40:00    1.09841    1.09826    1.09827       1.09763
2023-10-05 08:45:00    1.09826    1.09827    1.09763       1.09799
2023-10-05 08:50:00    1.09827    1.09763    1.09799       1.09803
2023-10-05 08:55:00    1.09763    1.09799    1.09803       1.09857

In [12]:
trainer.X_test.head()

                     close_T-3  close_T-2  close_T-1  close_Target
Target Date
2023-10-05 04:50:00    1.09550    1.09548    1.09582       1.09564
2023-10-05 04:55:00    1.09548    1.09582    1.09564       1.09569
2023-10-05 05:00:00    1.09582    1.09564    1.09569       1.09560
2023-10-05 05:05:00    1.09564    1.09569    1.09560       1.09594
2023-10-05 05:10:00    1.09569    1.09560    1.09594       1.09584

In [13]:
trainer.y_test.head()

Target Date
2023-10-05 04:50:00    0
2023-10-05 04:55:00    1
2023-10-05 05:00:00    0
2023-10-05 05:05:00    1
2023-10-05 05:10:00    0
Name: dir, dtype: int64

In [14]:
trainer.X_val.head()

                     close_T-3  close_T-2  close_T-1  close_Target
Target Date
2023-09-04 09:40:00    1.05871    1.05871    1.05873       1.05868
2023-09-04 09:45:00    1.05871    1.05871    1.05873       1.05868
2023-09-04 09:50:00    1.05871    1.05871    1.05873       1.05868
2023-09-04 09:55:00    1.05871    1.05871    1.05873       1.05868
2023-09-04 10:00:00    1.05871    1.05871    1.05873       1.05868

In [15]:
trainer.y_val.head()

Target Date
2023-09-04 09:40:00    0
2023-09-04 09:45:00    0
2023-09-04 09:50:00    0
2023-09-04 09:55:00    0
2023-09-04 10:00:00    0
Name: dir, dtype: int64

In [3]:
from keras import Sequential, Model
from keras.src.layers import Dense, LSTM, Dropout
from tensorflow.keras.optimizers import Adam



model = Sequential()
model.add(LSTM(100, activation='relu', return_sequences=True, input_shape=(3, 1)))
model.add(Dropout(0.2))
model.add(LSTM(50, activation='relu', return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(50, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1))

model.add(Dense(1, activation='sigmoid'))

Adam = Adam(learning_rate=0.0001)
# loss=weighted_binary_crossentropy(class_weight_ratio)
model.compile(optimizer=Adam, loss="mean_squared_error", metrics=['accuracy'])

/Users/kassraniroumand/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:205: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

In [5]:
model1 = Sequential()
model1.add(LSTM(100, activation='relu', return_sequences=True, input_shape=(3, 1)))
model1.add(Dropout(0.2))

In [6]:
trainer.train_model(model1, 101)

NameError: name 'trainer' is not defined

In [ ]:
trainer.evaluate_model()

In [54]:
pd.DataFrame( [{'date': '2024-03-18', 'close': 1.08735}, {'date': '2024-03-19', 'close': 1.08656}, {'date': '2024-03-20', 'close': 1.0921}, {'date': '2024-03-21', 'close': 1.08586}])

         date    close
0  2024-03-18  1.08735
1  2024-03-19  1.08656
2  2024-03-20  1.09210
3  2024-03-21  1.08586

In [67]:
trainer.X_test.iloc[:, 0][0]

1.0955

In [71]:
trainer.X_test

                     close_T-3  close_T-2  close_T-1  close_Target
Target Date
2023-10-05 04:50:00    1.09550    1.09548    1.09582       1.09564
2023-10-05 04:55:00    1.09548    1.09582    1.09564       1.09569
2023-10-05 05:00:00    1.09582    1.09564    1.09569       1.09560
2023-10-05 05:05:00    1.09564    1.09569    1.09560       1.09594
2023-10-05 05:10:00    1.09569    1.09560    1.09594       1.09584
...                        ...        ...        ...           ...
2023-11-04 23:40:00    1.09278    1.09259    1.09258       1.09276
2023-11-04 23:45:00    1.09259    1.09258    1.09276       1.09284
2023-11-04 23:50:00    1.09258    1.09276    1.09284       1.09277
2023-11-04 23:55:00    1.09276    1.09284    1.09277       1.09256
2023-11-05 00:00:00    1.09284    1.09277    1.09256       1.09753

[8871 rows x 4 columns]

In [66]:
model.predict(trainer.X_test.iloc[:, 0])[0][0]

278/278 ━━━━━━━━━━━━━━━━━━━━ 0s 271us/step

0.35292703

In [39]:
trainer.y_test

Target Date
2023-10-05 04:50:00    0
2023-10-05 04:55:00    1
2023-10-05 05:00:00    0
2023-10-05 05:05:00    1
2023-10-05 05:10:00    0
                      ..
2023-11-04 23:40:00    1
2023-11-04 23:45:00    1
2023-11-04 23:50:00    0
2023-11-04 23:55:00    0
2023-11-05 00:00:00    1
Name: dir, Length: 8871, dtype: int64

In [40]:
import pandas as pd

pd.DataFrame(trainer.model.predict(trainer.X_test), trainer.y_test).reset_index()

278/278 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step

      dir         0
0       0  0.352927
1       1  0.352927
2       0  0.352927
3       1  0.352927
4       0  0.352927
...   ...       ...
8866    1  0.352927
8867    1  0.352927
8868    0  0.352927
8869    0  0.352927
8870    1  0.352927

[8871 rows x 2 columns]

In [ ]:
trainer.plot_loss()

In [ ]:
trainer.plot_accuracy()

In [ ]:
trainer.save_model('model2.keras')

In [ ]:
from aitrading.ml_logic.registry import load_model

In [ ]:
ml2 = load_model("/Users/kassraniroumand/code/aitrading/aitrading/training_outputs/models/model2.keras")

In [ ]:
ml2.predict()

In [17]:
from aitrading.ml_logic import registry
from aitrading import params
import pathlib


registry.load_model(pathlib.Path(params.LOCAL_REGISTRY_PATH) / 'models' / 'model2.keras')

Load latest model from local registry...
model_path /Users/kassraniroumand/code/aitrading/aitrading/training_outputs/models/model2.keras
latest_model <Sequential name=sequential_2, built=True>
✅ Model loaded from local disk

In [19]:
params.LOCAL_REGISTRY_PATH

PosixPath('/Users/kassraniroumand/code/aitrading/aitrading/training_outputs')

In [21]:
pathlib.Path(params.LOCAL_REGISTRY_PATH) / 'models'

PosixPath('/Users/kassraniroumand/code/aitrading/aitrading/training_outputs/models')

In [20]:
from aitrading.ml_logic.registry import load_model

Load latest model from local registry...
model_path /Users/kassraniroumand/code/aitrading/aitrading/training_outputs/models/model2.keras
latest_model <Sequential name=sequential_2, built=True>
✅ Model loaded from local disk