In [1]:
import pandas as pd
import os

df=pd.read_csv(os.path.join(os.getcwd(), "..", "data",'FX_EURUSD_unseen.csv'))
df.head()

df=df.rename(columns={"Volume": "volume"})

In [2]:
df['time']=pd.to_datetime(df['time'],infer_datetime_format=True)

/var/folders/dk/w9782s892tj0nd0v2724j3qr0000gr/T/ipykernel_64811/3457609482.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['time']=pd.to_datetime(df['time'],infer_datetime_format=True)

In [3]:
df.head()

                       time     open     high      low    close  volume
0 2024-03-15 00:00:00+00:00  1.08827  1.08845  1.08814  1.08819     718
1 2024-03-15 00:05:00+00:00  1.08819  1.08822  1.08789  1.08794     613
2 2024-03-15 00:10:00+00:00  1.08794  1.08800  1.08782  1.08782     409
3 2024-03-15 00:15:00+00:00  1.08782  1.08800  1.08782  1.08796     431
4 2024-03-15 00:20:00+00:00  1.08796  1.08798  1.08783  1.08785     464

In [4]:
df.to_csv('eurusd_unseen_data.csv', index=False)